:host {
  display: grid;
  gap: var(--rrr-checkbox-gap);
  --rrr-checkbox-gap: var(--rrr-spacing-xs);
  --rrr-checkbox-label-gap: var(--rrr-spacing-s);
  --rrr-checkbox-accent-color: var(--rrr-colors-activity-indigo-60);
  --rrr-checkbox-error-color: var(--rrr-colors-context-danger-70);
}

label {
  display: inline-flex;
  align-items: center;
  gap: var(--rrr-checkbox-label-gap);
}

:host([invalid]) label {
  color: var(--rrr-checkbox-error-color);
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  accent-color: var(--rrr-checkbox-accent-color);
}

.error {
  color: var(--rrr-checkbox-error-color);
  font-size: var(--rrr-font-size-xs);
  line-height: 1.4;
  margin: 0;
  min-height: calc(var(--rrr-font-size-xs) * 1.4);
  visibility: hidden;
}

.error:not(:empty) {
  visibility: visible;
}
