:host {
  display: block;
}

.card {
  background: var(--rrr-colors-grayscale-00);
  border: var(--rrr-border-width) solid var(--rrr-colors-grayscale-30);
  border-radius: var(--rrr-radius-l);
  box-shadow: var(--rrr-shadow-card);
  display: grid;
}

:host([size="md"]) .card {
  padding: var(--rrr-spacing-l);
  gap: var(--rrr-spacing-s);
}

:host(:not([size])),
:host([size="lg"]) {
  padding: 0;
}

:host(:not([size])) .card,
:host([size="lg"]) .card {
  padding: var(--rrr-spacing-xl);
  gap: var(--rrr-spacing-l);
}
