:host {
  display: grid;
  gap: var(--rrr-checkbox-gap);
  --rrr-checkbox-gap: var(--rrr-spacing-xs);
  --rrr-checkbox-label-gap: var(--rrr-spacing-s);
  --rrr-checkbox-accent-color: var(--rrr-colors-balpen-blauw-60);
  --rrr-checkbox-error-color: var(--rrr-colors-context-danger-70);
}

label {
  display: inline-flex;
  align-items: center;
  gap: var(--rrr-checkbox-label-gap);
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  accent-color: var(--rrr-checkbox-accent-color);
}

.error {
  color: var(--rrr-checkbox-error-color);
  margin: 0;
  min-height: 1.25rem;
}
