:host {
  display: block;
  --rrr-card-background: var(--rrr-surface-raised);
  --rrr-card-border-radius: var(--rrr-radius-l);
  --rrr-card-shadow: var(--rrr-shadow-card);
  --rrr-card-padding-md: var(--rrr-spacing-l);
  --rrr-card-gap-md: var(--rrr-spacing-s);
  --rrr-card-padding-lg: var(--rrr-spacing-xl);
  --rrr-card-gap-lg: var(--rrr-spacing-l);
}

.card {
  background: var(--rrr-card-background);
  border-radius: var(--rrr-card-border-radius);
  box-shadow: var(--rrr-card-shadow);
  display: grid;
}

:host([size="md"]) .card {
  padding: var(--rrr-card-padding-md);
  gap: var(--rrr-card-gap-md);
}

:host(:not([size])),
:host([size="lg"]) {
  padding: 0;
}

:host(:not([size])) .card,
:host([size="lg"]) .card {
  padding: var(--rrr-card-padding-lg);
  gap: var(--rrr-card-gap-lg);
}
