.list {
  display: grid;
  gap: var(--rrr-spacing-l);
}

.card-title {
  font-weight: var(--rrr-font-weight-bold);
  font-size: var(--rrr-font-size-l);
  color: var(--rrr-colors-balpen-blauw-80);
}

.card-meta {
  color: var(--rrr-colors-grayscale-70);
  font-size: var(--rrr-font-size-s);
}
