rrr-workout-editor {
  --rrr-workout-editor-entries-gap: var(--rrr-spacing-l);
}

.entries {
  display: grid;
  gap: var(--rrr-workout-editor-entries-gap);
}

.field-input,
.field-textarea,
.field-select {
  display: block;
  width: 100%;
}

