.entry {
  border: var(--rrr-border-width) solid var(--rrr-colors-grayscale-30);
  border-radius: var(--rrr-radius-l);
  padding: var(--rrr-spacing-l);
  background: var(--rrr-colors-grayscale-00);
  box-shadow: var(--rrr-shadow-card);
  display: grid;
  gap: var(--rrr-spacing-l);
}

.header {
  display: flex;
  justify-content: space-between;
  gap: var(--rrr-spacing-s);
  align-items: center;
}

.sets {
  display: grid;
  gap: var(--rrr-spacing-s);
}

.footer {
  display: flex;
  gap: var(--rrr-spacing-s);
  flex-wrap: wrap;
}
