rrr-routine-list {
  --rrr-routine-list-gap: var(--rrr-spacing-l);
  --rrr-routine-list-title-weight: var(--rrr-font-weight-bold);
  --rrr-routine-list-title-size: var(--rrr-font-size-l);
  --rrr-routine-list-title-color: var(--rrr-colors-balpen-blauw-80);
  --rrr-routine-list-meta-color: var(--rrr-colors-grayscale-70);
  --rrr-routine-list-meta-size: var(--rrr-font-size-s);
}

.list {
  display: grid;
  gap: var(--rrr-routine-list-gap);
}

.card-title {
  font-weight: var(--rrr-routine-list-title-weight);
  font-size: var(--rrr-routine-list-title-size);
  color: var(--rrr-routine-list-title-color);
}

.card-meta {
  color: var(--rrr-routine-list-meta-color);
  font-size: var(--rrr-routine-list-meta-size);
}
