.list {
  display: grid;
  gap: var(--rrr-spacing-l);
}

.start-panel {
  display: flex;
  gap: var(--rrr-spacing-s);
  align-items: end;
  flex-wrap: wrap;
}

.start-panel label {
  min-width: 14rem;
}

