rrr-workout-list {
  --rrr-workout-list-gap: var(--rrr-spacing-l);
  --rrr-workout-list-start-gap: var(--rrr-spacing-s);
}

.list {
  display: grid;
  gap: var(--rrr-workout-list-gap);
}

.start-panel {
  display: flex;
  gap: var(--rrr-workout-list-start-gap);
  align-items: end;
  flex-wrap: wrap;
}

.start-panel label {
  min-width: 14rem;
}

